export AGGIE_SOURCE_IP="{{ source_elasticsearch_ip }}"
export AGGIE_SOURCE_PORT="{{ source_elasticsearch_port }}"
export AGGIE_SOURCE_TIMEOUT="1m"
export AGGIE_SOURCE_CHUNKS="1000"
export AGGIE_SOURCE_RANGE="now-10m"
export AGGIE_DESTINATION_IP="{{ dest_elasticsearch_ip }}"
export AGGIE_DESTINATION_PORT="{{ dest_elasticsearch_port }}"
export AGGIE_TENANT_ID="{{ aggie_tenant_id }}"
